.form {
    position: center;
    z-index: 1;
    /*background: #FFFFFF;*/
    max-width: 700px;
    margin: 0 auto 200px;
    padding: 45px;
    margin-top: 50px;
    margin-bottom: 15%;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 18px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #00aeef;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 18px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #1b75bc;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 14px;
}
.form .message a {
    color: #00aeef;
    text-decoration: none;
}

.infoLabel {
    display: inline-table;
    text-align: center;
    color: goldenrod;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    padding: 5px;
}

.radioLabel {
    display: inline-table;
    text-align: center;
    line-height: 50px;
    color: goldenrod;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    padding: 5px;
}

.field:valid {
    background: #00adee;
}

.field:invalid {
    background: #ffcdd2;
}

.amount {
    display: grid;
    color: #c4001d;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    padding: 10px;
    text-transform: uppercase;
}

body {
    background: #dddddd; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #00aeef, saddlebrown);
    background: -moz-linear-gradient(right, #00aeef, saddlebrown);
    background: -o-linear-gradient(right, #00aeef, saddlebrown);
    background: linear-gradient(to left, #00aeef, saddlebrown);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}